img {
  max-width: 100%;
}

.image-heading img {
  border-radius: 15px;
  margin-bottom: 15px;
}

.food-item {
  border: 1px solid black;
  padding: 25px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.food-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #454545;
}

.rating {
  font-family: "Kanit", sans-serif;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 18px;
  letter-spacing: 1.2px;
}

.star {
  color: orange;
}

.food-details {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.col {
  display: flex;
  max-width: min-content;
  flex-direction: column;
  width: 100%;
}

.details-heading {
  font-size: 18px;
  font-family: "Kanit", sans-serif;
  color: #a3a3a3;
  font-weight: 200;
}

.col:not(:last-child) {
  border-right: 1px solid #ccc;
  padding-right: 15px;
}

.details-info {
  font-size: 18px;
  font-family: "Kanit", sans-serif;
  color: #454545;
}
